# Log level (one of INFO, DEBUG, WARNING, or ERROR)
# LOG_LEVEL=INFO
# Sets log level for httpx, httpcore (one of INFO, DEBUG, WARNING, or ERROR)
# HTTP_LOG_LEVEl=WARN

# Canvas
# Base URL for API corresponding to Canvas instance (include https://)
API_URL=
# API key with admin privileges
API_KEY=

# Data warehouse (Unizin Data Warehouse — UDW)
# Warehouse database parameters (name is database name)
WH_HOST=
WH_PORT=
WH_NAME=
WH_USER=
WH_PASSWORD=

# Account in which to search for tools and courses
# Sub-accounts will include tools installed in parent accounts
ACCOUNT_ID=
# Enrollment term IDs separated by commas
ENROLLMENT_TERM_IDS=

# ID of current tool to be phased out (i.e., hidden)
SOURCE_TOOL_ID=
# ID of replacement tool to be shown in place of current tool
TARGET_TOOL_ID=

# For integration testing
# These values are used by tests in `tests.py`.  This is only for development
# and will not be used by end users.
# Test account
TEST_ACCOUNT_ID=
# Test course
TEST_COURSE_ID=
